# Rename this file to .env and fill in your actual keys.
# 1. Get this from Google AI Studio

GOOGLE_API_KEY=xxx

# 2. Paste the string you copied from Atlas in Step 1.

# Replace <password> with your database user password and add a database name (e.g., /omnicare)

MDB_MCP_CONNECTION_STRING="mongodb+srv://<username>:<password>@cluster0.qw45xqj.mongodb.net/?appName=Cluster0"
